ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 6px solid #ffffff;
}

li a:hover:not(.active) {
   color: #1b96fe;
   border-bottom: 6px solid #1b96fe;
}

a.active {
   background-color: #FFFFFF;
   border-bottom: 6px solid #1b96fe;
}